p
{
    color:aqua;
    font-size: 50px;
}

div
{
    height:200px;
    width:200px;
    background-color:darkorange;
    padding: 50px;
    border: 20px solid red;  
    margin: 50px;
    
}

section
{
    height: 200px;
    width:300px;
    background-color:blue;
    padding: 10px;
    border: 10px dashed black ;
}

header
{
    width: 300px;
    height: 40px;;
    background-color:yellowgreen;
}

footer
{
    width: 200px;
    height:200px;
    background-color: purple;
}